.aText {
  font-family: "Times New Roman",sans-serif;
  font-size: 18px;
  text-anchor: middle;
}

.active {
  font-weight: bold;
  fill: #B58900;
  transition: fill 0.5s ease-out;
  text-anchor: middle;
}

.inactive {
  font-weight: bold;
  fill: #839496;
  transition: fill 0.5s ease-out;
  text-anchor: middle;
}

.inactive:hover {
  fill: #2AA198;
  cursor: pointer;
}

text { fill : #2AA198; font-size: 13px; font-weight: bold;}
.domain { fill : #073642; stroke: #073642; }

/* font size dependent on radius, see app.js */
.stateText {
  font-family:"Times New Roman", sans-serif;
  fill: #839496;
  text-anchor: middle;
  font-weight: bold;
  font-size: 13px;
}

.stateCircle {
  fill: #073642;
  stroke: #fff;
}

.chart {
  display: block;
  margin: 0;
  fill: #2AA198;

}

.d3-tip {
  padding: 9px;
  font-size: 15px;
  line-height: 1.5;
  line-height: 1.5em;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  opacity:2px;
}

/* Mobile Rules */
@media screen and (max-width: 530px) {
  .stateText {
    display: none;
  }

  .aText {
    font-size: 15px;
  }
}

@media screen and (max-width: 400px) {
  .aText {
    font-size: 13px;
  }
}

